@font-face {
  font-family: 'Open-Sans';
  src: url('fonts/opensans-webfont.woff');
}
body {
  --main-bg-color: #04151F;
  --main-bcontent-color: #1c312f;
  --main-content-color: #08283e;
  --main-text-color: aliceblue;
  margin: 0;
  background-color: var(--main-bg-color);
  color: aliceblue;
  font-family: Open-Sans, sans-serif;
  line-height: 2;
}
p {
  line-height: 2;
}
a {
  text-decoration: none;
}


.navbar {
  background-color: var(--main-bg-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
.navbar a {
  color:var(--main-text-color);
  padding: 0.5rem;
}

main {
  margin: 0 auto;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 800px;
}
.quiz {
  background-color: rgba(8,40,62,0.5);
  padding: 2rem;
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(8,40,62,0.2);
}
button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border-width: 0;
  border-radius: 0.4rem;
  border-style: solid;
  border-color: var(--main-text-color);
  display: flex;
  justify-content: right;
  font-size: medium;
  padding: 0.5rem;
}
.codeIcon {
  height: 0.8rem;
  float: right;
  padding-right: 1rem;
  padding-top: 0.25rem;
}
.quiz input[type="text"] {
  width: 100%;
  height: 2rem;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Open-Sans, sans-serif;
  border: none;
  border-radius: 0.4rem;
}
textarea:focus, input:focus{
  outline: aliceblue none;
}

@media (max-width: 700px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
  .quiz {
    border-radius: 0;
  }
  .quiz h2 {
    font-size: medium;
  }
  h1 {
    padding-top: 1rem;
    font-size: large;
  }
  input[type="text"] {
    font-size: 16px;
  }
  button {
    font-size: small;
  }
  details {
    display: none;
  }
}


