@font-face {
  font-family: 'Open-Sans';
  src: url('fonts/opensans-webfont.woff');
}
body {
  --main-bg-color: #04151F;
  --main-bcontent-color: #1c312f;
  --main-content-color: #08283e;
  --main-text-color: aliceblue;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: aliceblue;
  font-family: Open-Sans, sans-serif;
  line-height: 2;
}
p {
  line-height: 2;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: var(--main-bg-color);
  padding-top: 20px;
  padding-bottom: 20px;

}
.navbar a {
  color:var(--main-text-color);
  padding: 10px;
}
.content {
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height:100vh;
  padding-top: 10px;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 800px;
}
.content h1 {
  border-bottom: 1px;
  border-bottom-style:solid;
  border-color: var(--main-text-color);
}
.quiz {
  background-color: var(--main-content-color);
  padding: 20px;
  border-radius: 10px;
}
button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--main-text-color);
  display: flex;
  justify-content: right;
}
.quiz input[type="text"] {
  width: 100%;
  height: 2em;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Open-Sans, sans-serif;
  border: none;
  border-radius: 5px;
  padding-left:10px;
}
textarea:focus, input:focus{
  outline: none;
}
textarea:focus, button:focus{
  outline: none;
}

